:root {
    --bs-primary: #3A9679;
    --bs-secondary: #055A7A;
    --bs-success: #5CB85C;
    --bs-info: #5BC0DE;
    --bs-warning: #F0AD4E;
    --bs-danger: #D9534F;
    --bs-dark: #2A6B5A;
    --bs-dark-light: #2a6b5ac4;
    --secondary-light:#68717A;
    --bs-primary-rgb: 58, 150, 121;
    --bs-secondary-rgb: 5, 90, 122;
    --bs-success-rgb: 92, 184, 92;
    --bs-info-rgb: 91, 192, 222;
    --bs-warning-rgb: 240, 173, 78;
    --bs-danger-rgb: 217, 83, 79;
    --bs-dark-rgb: 42, 107, 90;
 
  }

body{
    background-color: #F8F9FA;
    font-family: "Montserrat", sans-serif;
}
.border-card{
    border-radius: 30px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1)
}
.card-categoria .card-header  {
    background-color: white;
    border-radius: 31px 31px 0 0 ;
   
}
.header-success {
    border-bottom-color: var(--bs-success);
}
.header-warning {
    border-bottom-color: var(--bs-warning);
}
.header-danger{
    border-bottom-color: var(--bs-danger);
}
.card-categoria .card-header  span{
    font-size: 50px;
    line-height: 0.3;
}
.porcentagemRenda{
    font-size: smaller;
}
.text-secondary-light{
    color: var(--secondary-light);
   
}
.nav-link.active{
    background-color: var(--bs-dark-light);
    border-radius: 5px;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #2A6B5A;
    --bs-btn-border-color: #2A6B5A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #123f32;
    --bs-btn-hover-border-color: #123f32;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #123f32;
    --bs-btn-active-border-color: #123f32;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #427568c4;
    --bs-btn-disabled-border-color: #3b7263c4;
}